*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
    --sombras:0 0 6px #00000080;
    
    --colorSubtitulo: #8570b4;
    --coloriconos2:linear-gradient(120deg, #a4bffe 0%, #f68084 100%);
    --coloriconos: linear-gradient(to top, #cd9cf2b9 0%, #f6f3ffc0 100%);
}
body {
    font-family:var(--fuente) ;
}
.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 60px 0;
}
.header{
    height: 30vh;
    background-image: linear-gradient(120deg, #a4bffe80 0%, #f6808480 100%),
    url(../views/img/compras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.head {
    padding: 0;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.menu_principal {
    position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--sombras);
}

.menu_cerrar{
    position: fixed;
    top: 30px;
    right: 90px;
    background: #fff;
    color: #000;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: var(--sombras);
    
}
.menu-navegacion {
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;    
    background-image: linear-gradient(120deg, #f193fb 0%, #f5576c 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: var(--sombras);
    /* Ocultar el menu */
    transition: transform .3s ease-in-out;
    transform: translate(110%);
}

.spread {
    transform:translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}
.titulo {
    font-size: 30px;
    margin-bottom: 15px;
}

.frase {
    font-size: 20px;
    font-weight: 200;
}

/* Main */
.subtitulo {
    text-align: center;
    font-weight: 300;
    color: var(--colorSubtitulo);
    margin-bottom: 40px;
    font-size: 40px;
}
.opc_categoria{
    display: flex;
    left: 60px;
    margin-bottom: 15px;
    font-size: 30px;
}
.opc_icon {
    justify-content: center;
    align-items: center;
    margin-left: 7px;
    margin-right: 30px;
    background-image: var(--coloriconos);
    color: var(--colorSubtitulo);
    border-radius: 50%;
    padding: 5px;
    box-shadow: var(--sombras);
}
.opc_icon:hover{
    background-image: var(--coloriconos2);
    color: #fff;
}
.lista_categorias{
    padding-top: 3px ;
    
}
.n_categoria{
    list-style-type: none;
    font-size: 20px;
    padding-left: 30px;
}

.n_check{
    margin-right: 10px;
}
.opciones_gasto{
    display: flex;
    left: 60px;
    margin-bottom: 15px;
    font-size: 30px;
}

.parte2-form{
    font-family: var(--fuente);
    background: var(--colorSubtitulo);
    box-shadow: 5px 5px 14px 1px rgb(0 0 0 / 20%);
    border:0;
    outline: 0;
    border-radius: 15px;
    padding: 2px 10px;
    margin-top: 5px;
    color: #fff;
    justify-content: center;
    align-items: center;
}



/* Footer */
footer{
    background: var(--colorSubtitulo);
    padding-bottom: 0.1px;
}
.footer-contenido{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}
.informacion-footer{
    width: 40%;
    color: #fff;
}
.brand{
    font-weight: 400;
    font-size: 30px;
}
.brand+p{
    font-weight: 400;
    
}
.footer-imagen{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.social-media-icon:hover{
    background: #fff;
    color: var(--colorSubtitulo);
}
.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}
.line{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    height: 2px;
    background: #fff;
    margin-bottom: 60px;
}

